:root{
  --dark-background: #202124;
  --dark-elements: #35373d;
  --dark-fonts-contrast: #636773;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  content: "";
  position: absolute;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
